<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h2 class="text-white text-center">About Us</h2>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
    
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique provident commodi enim nemo culpa voluptatem eligendi officia dignissimos quaerat molestiae ipsa eum omnis expedita nisi, ea, itaque obcaecati? Laboriosam, dolorum!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique provident commodi enim nemo culpa voluptatem eligendi officia dignissimos quaerat molestiae ipsa eum omnis expedita nisi, ea, itaque obcaecati? Laboriosam, dolorum!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique provident commodi enim nemo culpa voluptatem eligendi officia dignissimos quaerat molestiae ipsa eum omnis expedita nisi, ea, itaque obcaecati? Laboriosam, dolorum!</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 ">Back to Home</button>
            </div>

        </div>
    </div>
</section>