<div class="card shadow-effect" *ngIf="postData" [routerLink]="['/post', postData.id]">
    <img src="{{ postData.data.postImgPath }}" style="height: 250px; padding: 40px; padding-bottom: 10px;">
      <div class="card-body">
        <small class="bg-light text-danger text-center me-3">{{ postData.data.category.category }}</small>
        <small class="bg-light text-success text-center me-3" *ngIf="postData.data.isFeatured">Featured</small>
        <small class="bg-light text-info text-center me-3">Views - {{ postData.data.views }}</small>
        <h5 class="card-title">{{ postData.data.title | slice:0:40  }} {{ postData.data.title.length > 10 ? '...' : '' }}  </h5>
        <p class="card-text">{{ postData.data.excerpt | slice:0:50 }}{{ postData.data.excerpt.length > 10 ? '...' : '' }}</p>
        <small class="bg-light text-info text-center">Last Updated {{ postData.data.createdAt.toMillis() | date  }}</small>
      </div>
</div>
  